{
  "openapi": "3.1.0",
  "info": {
    "title": "Courtland API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.courtland.com.ng/v1"
    }
  ],
  "paths": {
    "/v1/auth/otp/request": {
      "post": {
        "operationId": "requestOtp",
        "summary": "Request a phone OTP",
        "responses": {
          "202": {
            "description": "Request a phone OTP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/requestOtp2"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requestOtp1"
              }
            }
          }
        }
      }
    },
    "/v1/auth/otp/verify": {
      "post": {
        "operationId": "verifyOtp",
        "summary": "Verify OTP and start a session",
        "responses": {
          "201": {
            "description": "Verify OTP and start a session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/verifyOtp4"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/verifyOtp3"
              }
            }
          }
        }
      }
    },
    "/v1/auth/otp/resend": {
      "post": {
        "operationId": "resendOtp",
        "summary": "Resend a phone OTP",
        "responses": {
          "202": {
            "description": "Resend a phone OTP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resendOtp6"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/resendOtp5"
              }
            }
          }
        }
      }
    },
    "/v1/auth/signout": {
      "post": {
        "operationId": "signOut",
        "summary": "Revoke the session",
        "responses": {
          "201": {
            "description": "Revoke the session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/signOut7"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        }
      }
    },
    "/v1/auth/me": {
      "get": {
        "operationId": "getProfile",
        "summary": "Session bootstrap: profile, roles, permissions",
        "responses": {
          "200": {
            "description": "Session bootstrap: profile, roles, permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getProfile8"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchProfile",
        "summary": "Update own profile",
        "responses": {
          "200": {
            "description": "Update own profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/patchProfile10"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patchProfile9"
              }
            }
          }
        }
      }
    },
    "/v1/auth/link-owner": {
      "post": {
        "operationId": "linkOwner",
        "summary": "Claim a pending owner row by phone",
        "responses": {
          "201": {
            "description": "Claim a pending owner row by phone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/linkOwner12"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/linkOwner11"
              }
            }
          }
        }
      }
    },
    "/v1/auth/change-phone": {
      "post": {
        "operationId": "changePhone",
        "summary": "Change number with fresh OTP",
        "responses": {
          "201": {
            "description": "Change number with fresh OTP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/changePhone14"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/changePhone13"
              }
            }
          }
        }
      }
    },
    "/v1/auth/csrf": {
      "get": {
        "operationId": "getCsrf",
        "summary": "Mint a CSRF token",
        "responses": {
          "200": {
            "description": "Mint a CSRF token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getCsrf15"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        }
      }
    },
    "/v1/properties": {
      "get": {
        "operationId": "listProperties",
        "summary": "Search published listings",
        "responses": {
          "200": {
            "description": "Search published listings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listProperties16"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lga",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listingType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "rent",
                "sale"
              ]
            }
          },
          {
            "name": "propertyType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "face_me_i_face_you",
                "self_contained",
                "flat",
                "apartment",
                "bungalow",
                "duplex",
                "mansion",
                "terrace",
                "land",
                "commercial",
                "office",
                "shop"
              ]
            }
          },
          {
            "name": "bedrooms",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "minPriceKobo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "maxPriceKobo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "negotiable",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "near",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radiusKm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0
            }
          }
        ]
      },
      "post": {
        "operationId": "createProperty",
        "summary": "Create a listing draft",
        "responses": {
          "201": {
            "description": "Create a listing draft",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createProperty20"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "property_create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createProperty19"
              }
            }
          }
        }
      }
    },
    "/v1/properties/facets": {
      "get": {
        "operationId": "propertyFacets",
        "summary": "Facet counts for the current filter",
        "responses": {
          "200": {
            "description": "Facet counts for the current filter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/propertyFacets17"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lga",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listingType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "rent",
                "sale"
              ]
            }
          },
          {
            "name": "propertyType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "face_me_i_face_you",
                "self_contained",
                "flat",
                "apartment",
                "bungalow",
                "duplex",
                "mansion",
                "terrace",
                "land",
                "commercial",
                "office",
                "shop"
              ]
            }
          },
          {
            "name": "bedrooms",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "minPriceKobo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "maxPriceKobo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "negotiable",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "near",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radiusKm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0
            }
          }
        ]
      }
    },
    "/v1/properties/{id}": {
      "get": {
        "operationId": "getProperty",
        "summary": "Property detail",
        "responses": {
          "200": {
            "description": "Property detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getProperty18"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      },
      "patch": {
        "operationId": "patchProperty",
        "summary": "Partial listing update",
        "responses": {
          "200": {
            "description": "Partial listing update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/patchProperty22"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "property_update_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patchProperty21"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteProperty",
        "summary": "Soft-delete a listing",
        "responses": {
          "200": {
            "description": "Soft-delete a listing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deleteProperty23"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "property_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      }
    },
    "/v1/properties/{id}/submit": {
      "post": {
        "operationId": "submitProperty",
        "summary": "Submit a draft for review",
        "responses": {
          "201": {
            "description": "Submit a draft for review",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/submitProperty24"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "property_submit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      }
    },
    "/v1/properties/{id}/withdraw": {
      "post": {
        "operationId": "withdrawProperty",
        "summary": "Withdraw a listing",
        "responses": {
          "201": {
            "description": "Withdraw a listing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/withdrawProperty25"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "property_withdraw",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      }
    },
    "/v1/properties/{id}/publish": {
      "post": {
        "operationId": "publishProperty",
        "summary": "Publish a reviewed listing (staff)",
        "responses": {
          "201": {
            "description": "Publish a reviewed listing (staff)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/publishProperty26"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "property_publish",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      }
    },
    "/v1/properties/{id}/reject": {
      "post": {
        "operationId": "rejectProperty",
        "summary": "Reject a listing (staff)",
        "responses": {
          "201": {
            "description": "Reject a listing (staff)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rejectProperty27"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "property_publish",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      }
    },
    "/v1/properties/{id}/media": {
      "get": {
        "operationId": "listPropertyMedia",
        "summary": "Listing media",
        "responses": {
          "200": {
            "description": "Listing media",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listPropertyMedia28"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "property_update_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      },
      "post": {
        "operationId": "addPropertyMedia",
        "summary": "Attach a Cloudinary asset",
        "responses": {
          "201": {
            "description": "Attach a Cloudinary asset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/addPropertyMedia30"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "property_update_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/addPropertyMedia29"
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchPropertyMedia",
        "summary": "Edit media rows",
        "responses": {
          "200": {
            "description": "Edit media rows",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/patchPropertyMedia32"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "property_update_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patchPropertyMedia31"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletePropertyMedia",
        "summary": "Remove media rows",
        "responses": {
          "200": {
            "description": "Remove media rows",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deletePropertyMedia33"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "property_update_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      }
    },
    "/v1/properties/{id}/media/reorder": {
      "post": {
        "operationId": "reorderPropertyMedia",
        "summary": "Reorder gallery",
        "responses": {
          "201": {
            "description": "Reorder gallery",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/reorderPropertyMedia35"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "property_update_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/reorderPropertyMedia34"
              }
            }
          }
        }
      }
    },
    "/v1/properties/{id}/units": {
      "get": {
        "operationId": "listUnits",
        "summary": "Units on a property",
        "responses": {
          "200": {
            "description": "Units on a property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listUnits36"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "unit_create",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      },
      "post": {
        "operationId": "createUnit",
        "summary": "Add a unit",
        "responses": {
          "201": {
            "description": "Add a unit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createUnit38"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "unit_create",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createUnit37"
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchUnits",
        "summary": "Edit units",
        "responses": {
          "200": {
            "description": "Edit units",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/patchUnits40"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "unit_create",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patchUnits39"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteUnits",
        "summary": "Remove units",
        "responses": {
          "200": {
            "description": "Remove units",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deleteUnits41"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "unit_create",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      }
    },
    "/v1/properties/{id}/land": {
      "get": {
        "operationId": "getLandDetails",
        "summary": "Land parcel details",
        "responses": {
          "200": {
            "description": "Land parcel details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getLandDetails42"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "unit_update_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      },
      "put": {
        "operationId": "putLandDetails",
        "summary": "Replace land details",
        "responses": {
          "200": {
            "description": "Replace land details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/putLandDetails44"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "unit_update_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putLandDetails43"
              }
            }
          }
        }
      }
    },
    "/v1/properties/{id}/viewings": {
      "post": {
        "operationId": "requestViewing",
        "summary": "Request a viewing",
        "responses": {
          "201": {
            "description": "Request a viewing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/requestViewing45"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "property_update_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      }
    },
    "/v1/owners": {
      "get": {
        "operationId": "listOwners",
        "summary": "Owner directory (staff)",
        "responses": {
          "200": {
            "description": "Owner directory (staff)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listOwners46"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "owner_read_any"
      },
      "post": {
        "operationId": "registerOwner",
        "summary": "Register an owner",
        "responses": {
          "201": {
            "description": "Register an owner",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/registerOwner48"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "owner_register",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/registerOwner47"
              }
            }
          }
        }
      }
    },
    "/v1/owners/me": {
      "get": {
        "operationId": "getOwnOwner",
        "summary": "Own owner record",
        "responses": {
          "200": {
            "description": "Own owner record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getOwnOwner49"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "owner_read_own"
      }
    },
    "/v1/owners/{id}": {
      "get": {
        "operationId": "getOwner",
        "summary": "Owner detail",
        "responses": {
          "200": {
            "description": "Owner detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getOwner50"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "owner_read_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      },
      "patch": {
        "operationId": "patchOwner",
        "summary": "Update an owner",
        "responses": {
          "200": {
            "description": "Update an owner",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/patchOwner52"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "owner_update_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patchOwner51"
              }
            }
          }
        }
      }
    },
    "/v1/owners/{id}/kyc/submit": {
      "post": {
        "operationId": "submitOwnerKyc",
        "summary": "Submit KYC",
        "responses": {
          "201": {
            "description": "Submit KYC",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/submitOwnerKyc53"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "owner_update_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      }
    },
    "/v1/owners/{id}/kyc/approve": {
      "post": {
        "operationId": "approveOwnerKyc",
        "summary": "Approve KYC (staff)",
        "responses": {
          "201": {
            "description": "Approve KYC (staff)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/approveOwnerKyc54"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "owner_kyc_approve",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      }
    },
    "/v1/owners/{id}/documents": {
      "post": {
        "operationId": "uploadOwnerDocument",
        "summary": "Attach an owner document",
        "responses": {
          "201": {
            "description": "Attach an owner document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/uploadOwnerDocument56"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "document_upload",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/uploadOwnerDocument55"
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchOwnerDocument",
        "summary": "Edit an owner document",
        "responses": {
          "200": {
            "description": "Edit an owner document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/patchOwnerDocument57"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "document_upload",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      },
      "delete": {
        "operationId": "deleteOwnerDocument",
        "summary": "Remove an owner document",
        "responses": {
          "200": {
            "description": "Remove an owner document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deleteOwnerDocument58"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "document_upload",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      }
    },
    "/v1/payout-accounts": {
      "post": {
        "operationId": "createPayoutAccount",
        "summary": "Add a settlement account",
        "responses": {
          "201": {
            "description": "Add a settlement account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createPayoutAccount60"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "owner_update_own",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createPayoutAccount59"
              }
            }
          }
        }
      }
    },
    "/v1/payout-accounts/{id}": {
      "patch": {
        "operationId": "patchPayoutAccount",
        "summary": "Edit a settlement account",
        "responses": {
          "200": {
            "description": "Edit a settlement account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/patchPayoutAccount61"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "owner_update_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      },
      "delete": {
        "operationId": "deletePayoutAccount",
        "summary": "Remove a settlement account",
        "responses": {
          "200": {
            "description": "Remove a settlement account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deletePayoutAccount62"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "owner_update_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      }
    },
    "/v1/payout-accounts/{id}/verify": {
      "post": {
        "operationId": "verifyPayoutAccount",
        "summary": "Verify a settlement account",
        "responses": {
          "201": {
            "description": "Verify a settlement account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/verifyPayoutAccount63"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "owner_update_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      }
    },
    "/v1/contracts": {
      "get": {
        "operationId": "listContracts",
        "summary": "Contracts visible to the caller",
        "responses": {
          "200": {
            "description": "Contracts visible to the caller",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listContracts64"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "contract_read_own"
      },
      "post": {
        "operationId": "createContract",
        "summary": "Draft a lease",
        "responses": {
          "201": {
            "description": "Draft a lease",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createContract66"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "contract_create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createContract65"
              }
            }
          }
        }
      }
    },
    "/v1/contracts/{id}": {
      "get": {
        "operationId": "getContract",
        "summary": "Contract detail",
        "responses": {
          "200": {
            "description": "Contract detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getContract67"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "contract_read_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      },
      "patch": {
        "operationId": "patchContract",
        "summary": "Edit a draft contract",
        "responses": {
          "200": {
            "description": "Edit a draft contract",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/patchContract69"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "contract_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patchContract68"
              }
            }
          }
        }
      }
    },
    "/v1/contracts/{id}/activate": {
      "post": {
        "operationId": "activateContract",
        "summary": "Activate an approved contract",
        "responses": {
          "201": {
            "description": "Activate an approved contract",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/activateContract71"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "contract_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/activateContract70"
              }
            }
          }
        }
      }
    },
    "/v1/contracts/{id}/suspend": {
      "post": {
        "operationId": "suspendContract",
        "summary": "Suspend a contract",
        "responses": {
          "201": {
            "description": "Suspend a contract",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/suspendContract73"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "contract_suspend",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/suspendContract72"
              }
            }
          }
        }
      }
    },
    "/v1/contracts/{id}/terminate": {
      "post": {
        "operationId": "terminateContract",
        "summary": "Terminate a contract",
        "responses": {
          "201": {
            "description": "Terminate a contract",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/terminateContract75"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "contract_terminate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/terminateContract74"
              }
            }
          }
        }
      }
    },
    "/v1/contracts/{id}/renew": {
      "post": {
        "operationId": "renewContract",
        "summary": "Renew into a successor",
        "responses": {
          "201": {
            "description": "Renew into a successor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/renewContract77"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "contract_renew",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/renewContract76"
              }
            }
          }
        }
      }
    },
    "/v1/contracts/{id}/parties": {
      "get": {
        "operationId": "listContractParties",
        "summary": "Contract parties",
        "responses": {
          "200": {
            "description": "Contract parties",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listContractParties78"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "contract_read_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      },
      "post": {
        "operationId": "addContractParty",
        "summary": "Add a party",
        "responses": {
          "201": {
            "description": "Add a party",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/addContractParty80"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "contract_create",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/addContractParty79"
              }
            }
          }
        }
      }
    },
    "/v1/contracts/{id}/schedule": {
      "get": {
        "operationId": "getContractSchedule",
        "summary": "Billing schedule",
        "responses": {
          "200": {
            "description": "Billing schedule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getContractSchedule81"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "contract_read_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      }
    },
    "/v1/contracts/{id}/events": {
      "get": {
        "operationId": "getContractEvents",
        "summary": "Lifecycle timeline",
        "responses": {
          "200": {
            "description": "Lifecycle timeline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getContractEvents82"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "contract_read_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      }
    },
    "/v1/contracts/{id}/payments": {
      "get": {
        "operationId": "listContractPayments",
        "summary": "Payment intents on a contract",
        "responses": {
          "200": {
            "description": "Payment intents on a contract",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listContractPayments83"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "payment_create_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      },
      "post": {
        "operationId": "createContractPayment",
        "summary": "Open a payment intent",
        "responses": {
          "201": {
            "description": "Open a payment intent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createContractPayment85"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "payment_create_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createContractPayment84"
              }
            }
          }
        }
      }
    },
    "/v1/contracts/{id}/documents": {
      "get": {
        "operationId": "listContractDocuments",
        "summary": "Contract documents",
        "responses": {
          "200": {
            "description": "Contract documents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listContractDocuments86"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "contract_read_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      },
      "post": {
        "operationId": "generateContractDocument",
        "summary": "Generate a document",
        "responses": {
          "201": {
            "description": "Generate a document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/generateContractDocument88"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "document_generate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/generateContractDocument87"
              }
            }
          }
        }
      }
    },
    "/v1/contracts/{id}/disputes": {
      "get": {
        "operationId": "listContractDisputes",
        "summary": "Disputes on a contract",
        "responses": {
          "200": {
            "description": "Disputes on a contract",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listContractDisputes89"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "dispute_read_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      },
      "post": {
        "operationId": "openContractDispute",
        "summary": "Open a dispute",
        "responses": {
          "201": {
            "description": "Open a dispute",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/openContractDispute91"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "dispute_create",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/openContractDispute90"
              }
            }
          }
        }
      }
    },
    "/v1/payments": {
      "get": {
        "operationId": "listPayments",
        "summary": "Ledger entries visible to the caller",
        "responses": {
          "200": {
            "description": "Ledger entries visible to the caller",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listPayments92"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "payment_read_own"
      }
    },
    "/v1/payments/{id}": {
      "get": {
        "operationId": "getPayment",
        "summary": "Payment receipt drill-down",
        "responses": {
          "200": {
            "description": "Payment receipt drill-down",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getPayment93"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "payment_read_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      }
    },
    "/v1/payments/{id}/allocations": {
      "get": {
        "operationId": "getPaymentAllocations",
        "summary": "Ledger splits",
        "responses": {
          "200": {
            "description": "Ledger splits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getPaymentAllocations94"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "payment_read_any",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      }
    },
    "/v1/payments/{id}/verify": {
      "post": {
        "operationId": "verifyPayment",
        "summary": "Verify a payment with Paystack",
        "responses": {
          "201": {
            "description": "Verify a payment with Paystack",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/verifyPayment95"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "payment_create_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/payment-intents": {
      "post": {
        "operationId": "createPaymentIntent",
        "summary": "Open a payment intent",
        "responses": {
          "201": {
            "description": "Open a payment intent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createPaymentIntent97"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "payment_create_own",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createPaymentIntent96"
              }
            }
          }
        }
      }
    },
    "/v1/payment-intents/{id}": {
      "get": {
        "operationId": "getPaymentIntent",
        "summary": "Intent status",
        "responses": {
          "200": {
            "description": "Intent status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getPaymentIntent98"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "payment_create_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      }
    },
    "/v1/payments/{id}/refund": {
      "post": {
        "operationId": "refundPayment",
        "summary": "Request a refund",
        "responses": {
          "201": {
            "description": "Request a refund",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/refundPayment100"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "payment_refund",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/refundPayment99"
              }
            }
          }
        }
      }
    },
    "/v1/payments/reconciliation": {
      "get": {
        "operationId": "getReconciliation",
        "summary": "Reconciliation summary (staff)",
        "responses": {
          "200": {
            "description": "Reconciliation summary (staff)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getReconciliation101"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "payment_read_any"
      }
    },
    "/v1/ledger/accounts/{id}": {
      "get": {
        "operationId": "getLedgerAccount",
        "summary": "Owner ledger balances",
        "responses": {
          "200": {
            "description": "Owner ledger balances",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getLedgerAccount102"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "payment_read_any",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      }
    },
    "/v1/payouts": {
      "get": {
        "operationId": "listPayouts",
        "summary": "Payouts visible to the caller",
        "responses": {
          "200": {
            "description": "Payouts visible to the caller",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listPayouts103"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "payout_read_own"
      }
    },
    "/v1/payouts/{id}": {
      "get": {
        "operationId": "getPayout",
        "summary": "Payout detail",
        "responses": {
          "200": {
            "description": "Payout detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getPayout104"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "payout_read_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      }
    },
    "/v1/payouts/runs": {
      "post": {
        "operationId": "runPayouts",
        "summary": "Build a payout run (approve separately)",
        "responses": {
          "201": {
            "description": "Build a payout run (approve separately)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runPayouts106"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "payout_run",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/runPayouts105"
              }
            }
          }
        }
      }
    },
    "/v1/payouts/runs/{id}": {
      "get": {
        "operationId": "getPayoutRun",
        "summary": "Payout run detail",
        "responses": {
          "200": {
            "description": "Payout run detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getPayoutRun107"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "payout_approve",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      }
    },
    "/v1/payouts/{id}/approve": {
      "post": {
        "operationId": "approvePayout",
        "summary": "Approve a payout",
        "responses": {
          "201": {
            "description": "Approve a payout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/approvePayout108"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "payout_approve",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/payouts/{id}/initiate": {
      "post": {
        "operationId": "initiatePayout",
        "summary": "Initiate transfer",
        "responses": {
          "201": {
            "description": "Initiate transfer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/initiatePayout109"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "payout_initiate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/tickets": {
      "get": {
        "operationId": "listTickets",
        "summary": "Tickets visible to the caller",
        "responses": {
          "200": {
            "description": "Tickets visible to the caller",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listTickets110"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "ticket_read_own"
      },
      "post": {
        "operationId": "createTicket",
        "summary": "Raise a ticket",
        "responses": {
          "201": {
            "description": "Raise a ticket",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createTicket112"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "ticket_create_own",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createTicket111"
              }
            }
          }
        }
      }
    },
    "/v1/tickets/{id}": {
      "get": {
        "operationId": "getTicket",
        "summary": "Ticket detail",
        "responses": {
          "200": {
            "description": "Ticket detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getTicket113"
                }
              }
            }
          },
          "default": {
            "description": "Error envelope",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/Problem"
              }
            }
          }
        },
        "x-permission": "ticket_read_own",
        "parameters": [
          {
            "name": "id",
            "in": "path",
[...]
